<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>DocumentTranslatorServlet</servlet-name>
		<servlet-class>at.tomtasche.opendocument.cloud.DocumentTranslatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocumentTranslatorServlet</servlet-name>
		<url-pattern>/translator</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DocumentRetranslatorServlet</servlet-name>
		<servlet-class>at.tomtasche.opendocument.cloud.DocumentRetranslatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocumentRetranslatorServlet</servlet-name>
		<url-pattern>/retranslator</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>at.tomtasche.opendocument.cloud.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/file</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileWorker</servlet-name>
		<servlet-class>at.tomtasche.opendocument.cloud.FileWorker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileWorker</servlet-name>
		<url-pattern>/file/worker</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
